@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #0E0E0E;
  --gray-background: #1A1A1A;
  --font-gray01: #ececec;
  --font-gray02: #999;
  --font-gray03: #848484;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
